<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap" rel="stylesheet">
    <title>Seniors</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-custom fixed-top">
        <!-- <a class="navbar-brand" href="#">Navbar</a> -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav justify-content-end">
            <li class="nav-item active">
              <a class="nav-link pl-5 ml-5" href="/">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link pl-5 ml-5" href="/photos">Photo Gallery</a>
            </li>
            <li class="nav-item">
              <a class="nav-link pl-5 ml-5" href="/articles">Blog</a>
            </li>           
          </ul>          
        </div>
        <li class="nav-item d-inline justify-content-end" id="signin">
            <a class="nav-link pr-5" href="#"><i class="fas fa-sign-in-alt"></i></a>
        </li>
      </nav> 
<div class="container login text-center">

    <!-- <h1 class="p_span login_title text-center new_title">Login</h1> -->

    <h4  class="login_head" id="please_login">Please login to see our Gallery!</h4>


      <form action="/login" method="POST">
        <div class="form-group login">
          <label for="username">Username</label>
          <input class="form-control new_form" id="username" type="text" name="username" placeholder="">
        </div>
        <div class="form-group login">
          <label for="password">Password</label>
          <input class="form-control new_form" size="40" id="password" type="password" name="password" placeholder="">
        </div>
        <div>
            <button class="new_form btn btn-outline-light btn-lg card_btn login_reg">Login</button>
        </div>
    </form>

    <h4 id="not" class="login_head" >Not yet registered? </h4> 
    <a href="/register" id="login_reg" class="btn btn-outline-light btn-lg card_btn login_reg">Register</a>
 
</div>

<footer class="footer">
  <div class="row pt-sm-3 text-center">
      <div class="col-sm-5 mb-0 text-center">
          <p class="mb-0">© Lauri Lipsey, 2020</p>
      </div>
      <div class="col-sm-2 icons text-center">
          <a class="email" href="mailto:lauri@lovelywebdesigns.com? 
                subject=Contact">
                <i class="fas fa-envelope-square"></i></a>
          <a class="facebook" href="#"><i class="fab fa-facebook px-3"></i></a>        
      </div>
      <div class="col-sm-5 text-center">
          <p class="lovely">Website designed and produced by <a href="http://lovelywebdesigns.com/">LovelywebDesigns</a></p>
      </div>               
  </div>
 
</footer>

<script src="app.js" type="text/javascript"></script>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>  
</body>
</html>